/* .fname-label, .lname-label, .age-label, .email-label, .password-label{
    color: grey;
    font-size: 11px;
    position: relative;
    top: 20px;
    padding: 0;
    margin: 0;
    height: 8px;
}
.email-label{
    right: 105px;
}
.password-label{
    right: 115px;
}
.fname-label, .lname-label{
    right: 112px;
}
.age-label{
    right: 118px;
}
.login-form{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    width: 330px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    align-items: center;
    text-align: center;
}
.login-form h3{
    font-weight: 400;
    font-size: larger;
    font-family: Arial,Helvetica,sans-serif;
}
.login-form input{
    width: 290px;
    height: 35px;
    border-radius: 4px;
    border: 1px solid grey;
    font-size: medium;
    padding-inline-start: 15px;
    padding-top: 20px;
}
.login-form input:focus{
    border: solid 1px rgb(18, 143, 220);
}
.login-form input.angry{
    border: solid 1px rgb(199, 3, 3)
}
.login-form p{
    margin-top: 0;
    font-size: smaller;
}
.login-form a{
    text-decoration: none;
    color: rgb(11, 102, 159);
}
.form-logo{
    margin-top: 20px;
}
.submit-button{
    background-color:rgb(18, 143, 220);
    width: 300px;
    border: none;
    color: white;
    font-weight:bold;
    padding: 12px;
    border-radius: 4px;
    margin: 10px;
    margin-bottom: 20px;
    font-size: medium;
}
.submit-button:hover{
    cursor: pointer;
    background-color:rgb(34, 152, 225);

}
.forgot{
    width: 300px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(209, 205, 205);
    color: rgb(11, 102, 159);
}
.terms{
    width: 250px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(209, 205, 205);
}
p.terms{
    color: grey;
    font-size: 12px;
}
.logo{
    font-size: x-small;
    position: relative;
    top: -3px;
}
.error{
    background-color: rgb(248, 216, 222);
    width: 300px;
    margin: 3px;
    border-radius: 4px;
}
.error p{
    margin: 10px;
    font-size: smaller;
}
input.check{
    width: 15px;
    height: 15px;
    align-self: flex-start;
    margin: 10px
}
label.check-label{
    display: inline;
    font-size: smaller;
    font-weight:lighter ;
    position: relative;
    top: -25px;
    left: -56px;
}
.below-form{
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 15px;
    font-family: Proxima Nova ,Helvetica,sans-serif;
}
.below-form a{
    margin: 5px;
    color: white;
    text-decoration: none;
} */
